body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #818181;
}

.flex-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.navbtn {
  background-color: #c4c4c4;
  border: 2px;
  border-radius: 5px;
}

.fa-fw {
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.column {
  float: left;
  width: 50%;
  margin-top: 50px;
}

.c-img {
}

.c-txt {
  margin: 5px;
  align-self: left;
}

img {
  max-width: 75%;
}
